{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alerta:* {{ .Labels.alertname }}
*Status:* {{ .Status | toUpper }}
{{ if .Labels.severity }}*Severidade:* {{ .Labels.severity }}{{ end }}
{{ if .Labels.instance }}*Instância:* {{ .Labels.instance }}{{ end }}
{{ if .Annotations.summary }}*Resumo:* {{ .Annotations.summary }}{{ end }}
{{ if .Annotations.description }}*Descrição:* {{ .Annotations.description }}{{ end }}
{{ end }}
{{ end }}

{{ define "slack.default.footer" }}
Para mais informações, acesse o Grafana: {{ .CommonAnnotations.grafana_url }}
{{ end }} 